@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Zen+Loop:ital@1&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Page-Content-Container {
  background: rgb(225, 254, 253);
  background-color: #e6e6e6;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Weather-Container {
  height: 700px;

  width: 450px;
  background: linear-gradient(
      rgba(206, 206, 206, 0.45),
      rgba(166, 202, 227, 0.35)
    ),
    url(./images/weather.jpeg);
  background-size: cover;

  border-radius: 25px;
  padding: 10px;
  box-shadow: 1px 8px 38px -4px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 1px 8px 38px -4px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 1px 8px 38px -4px rgba(0, 0, 0, 0.58);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Searchbar-Container {
  width: 80%;
  height: auto;
  position: relative;
}
.Searchbar-Container h4 {
  color: red;

  margin-top: 10px;
  font-size: 14px;
}

.SearchBar {
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
}

.SearchBar button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: transparent;
  border: none;
}

.Weather-Container input {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.Weather-Container input:focus {
  outline: none;
}

.Auto-Complete-Container {
  width: 100%;
  min-height: 0px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 0px 0px 10px 10px;
  padding: 0px;
  position: absolute;
}

.Auto-Complete-Container ul {
  padding: 0px;
  list-style-type: none;
}

.Auto-Complete-Container ul li {
  font-size: 25px;
  padding: 10px 0 10px 5px;
  width: 100%;
  overflow-x: hidden;
}

.Auto-Complete-Container ul li:hover {
  background-color: #efefef;
  cursor: pointer;
}
.Weather-Api-Content {
  margin-top: 50px;
  width: 80%;
}
.content-header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header h1 {
  font-size: 45px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.content-header h4 {
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 0px;
}

.content-header img {
  margin-bottom: 20px;
}
